body {
    background-color:#ddd;
}

#container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
    /* Full height, minus the body's margins that are provided by Chrome */
    min-height:calc(100vh - 33px);
}

#container #sidebar {
    padding:10px;
    background-color:#cccccc;
}
#container #command-runner-list {
    background-color:#cccccc;
}

.command-runner-item {
    padding:10px;
}

.command-runner-item .command-runner-controls {
    padding:10px 0;
}

.terminal {
    background-color: #111111;
    height:200px;
    padding:10px;
}

.terminal .line-item-text {
    color: #eeeeee;
    word-break: break-all;
}